@model Ld.WX.Models.MenuJson
@{
    Layout = "~/Views/Shared/_Layout_Mobile_Empty.cshtml";
    ViewBag.Title = "菜单";
}
@foreach (var btn in Model.button)
{
    <div class="dropdown" style="display: inline-block;">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            @btn.name
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            @if (btn.sub_button != null)
            {
                foreach (var sub in btn.sub_button)
                {
                    <li><a href="#">@sub.name</a></li>
                }
            }
        </ul>
    </div>
}